<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:hadoop="http://www.springframework.org/schema/hadoop" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:nutz="http://www.springframework.org/schema/nutz"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
	  http://www.springframework.org/schema/beans/spring-beans.xsd
	  http://www.springframework.org/schema/context 
	  http://www.springframework.org/schema/context/spring-context.xsd
	  http://www.springframework.org/schema/tx 
	  http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	  http://www.springframework.org/schema/hadoop 
	  http://www.springframework.org/schema/hadoop/spring-hadoop.xsd
	  http://www.springframework.org/schema/nutz
	  http://www.springframework.org/schema/nutz-context.xsd ">
	  
	  <import resource="datasource-config.xml" />

	<!-- 可通过注解控制事务 -->
	<tx:annotation-driven />
	
	<context:annotation-config/>
	<!-- Spring 包扫描 -->
	<context:component-scan base-package="per.nonlone.spanner" />
			
</beans>
